body{
  background: #f8f9fa !important;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;;
}

h1{
  padding-left: 120px; 
}
.btnHeader{
  margin-left: 124px !important;
  margin-top: 70px !important;

}

.skill-tag {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  padding: 6px 30px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #f5f5f5;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 16px;
}



#about_section{
  background-color: white;

}
.about_heading,.project_heading{
  text-decoration: underline Green;
  text-decoration-style: solid;

}
h3,h5{
  font-family: cursive;
  font-weight: 900;
}


/* Contact */
.contact{
  position: absolute;
    left: 0px;
    width: 1432px;
    background-color: black;
    padding: 50px;
    text-align: center;
    color: white;
}


/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 9;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}

